<div class="grid grid-cols-12 hover:bg-gray-50">
  <%= hidden_field_tag "#{field_name}[side]", side %>
  <% if defined?(line_id) && line_id %>
    <%= hidden_field_tag "#{field_name}[id]", line_id %>
  <% end %>

  <!-- 勘定科目 -->
  <div class="col-span-6 border-[0.5] border-black p-0">
    <%= text_field_tag "#{field_name}[account_name]",
        (accounts.find { |a| a.name == selected_account_name }&.name if selected_account_name),
        { placeholder: "勘定科目を入力または選択",
          list: "accounts_datalist",
          class: "w-full h-full px-2 py-2 border-0 font-mono text-sm focus:outline-none focus:bg-yellow-100",
          autocomplete: "off" } %>
  </div>

  <!-- 金額 -->
  <div class="col-span-6 border-[0.5] border-black p-0">
    <%= number_field_tag "#{field_name}[amount]",
        amount_value,
        placeholder: "0",
        min: 1,
        max: 999999999999,
        step: "0.01",
        class: "w-full h-full px-2 py-2 border-0 font-mono text-sm text-right focus:outline-none focus:bg-yellow-100" %>
  </div>
</div>
