<div class="max-w-6xl min-w-2xs sm:min-w-2xl mx-auto min-h-screen">
  <div class="bg-white border-4 border-black shadow-2xl">
    <div class="bg-gray-100 px-8 py-6 border-b-4 border-black flex justify-between items-center">
      <h1 class="text-3xl font-mono tracking-wide">総勘定元帳</h1>
    </div>

    <p class="font-mono font-bold text-center m-4"><%= @from.strftime('%Y年%m月%d日') %> ~ <%= @to.strftime('%Y年%m月%d日') %></p>
    <div class="px-4 grid grid-cols-1 sm:grid-cols-2 gap-8">
    </div>
  </div>
</div>
