<p>以下のリンクから新規アカウントを作成することができます</p>

<p>
  <a href="<%= @url %>" target="_blank">
    <%= @url %>
  </a>
</p>

<ul>
  <li>このリンクは <b><%= @expires_at.strftime("%Y/%m/%d %H:%M") %></b> まで有効です</li>
  <li>このメールに心当たりがない場合は、本メールを破棄してください</li>
</ul>
