<dialog aria-labelledby="journal-editor-dialog" class="mx-auto my-auto" data-hotkeys-target="journalEditorDialog">
  <div class="p-8 space-y-4 border-4">
    <h1 id="journal-editor-dialog" class="text-3xl text-center tracking-wide">テスト用ダイアログ</h1>
  </div>
</dialog>
