<div class="mx-auto my-auto">
  <h1 class="mb-4 text-center text-5xl tracking-[0.5rem] font-extrabold">404</h1>
  <p class="text-center"><strong>申し訳ございません。お探しのページは見つかりませんでした。</strong></p>
  <p class="text-center">URLに誤りがあるか、ページが移動・削除された可能性があります。</p>
</div>
