<div class="mx-auto my-auto">
  <h1 class="mb-4 text-center text-5xl tracking-[0.5rem] font-extrabold">422</h1>
  <p class="text-center"><strong>申し訳ございません。送信されたデータに問題があり、処理を完了できませんでした。</strong></p>
</div>
