<div class="mx-auto my-auto p-12">
  <h1 class="mb-4 text-center text-5xl tracking-[0.5rem] font-extrabold">500</h1>
  <p class="text-center"><strong>申し訳ございません。システムに一時的な問題が発生しています。</strong></p>
  <p class="text-center">しばらく時間をおいてから再度お試しください。</p>
</div>
